.cards {
  display: grid;
  gap: 12rem;

  &__info {
    text-align: left;
    background-color: var(--clr--background);
    height: 600px;
    max-width: 1000px;
    padding: 4rem 0;
    h1 {
      font-weight: var(--fw--bold);
      font-size: 3.7rem;
      letter-spacing: 6px;
      line-height: 3.5rem;
      text-transform: uppercase;
      color: var(--clr--green);
      margin-bottom: 1.5rem;

      span {
        color: var(--clr--white);
      }
    }

    p {
      width: 60%;
      color: var(--clr--grey);
      line-height: 2rem;
    }

    form {
      font-weight: var(--fw--very-bold);
      margin-top: 2rem;
      position: relative;
      width: 500px;
      input {
        cursor: pointer;
        font-weight: var(--fw--bold);
        color: var(--clr--grey);
        letter-spacing: 2px;
        background: var(--clr--bg-input);
        width: 100%;
        border: none;
        border-radius: 3rem;
        padding: 1rem;
        line-height: 1rem;
        outline: none;
      }
      button {
        cursor: pointer;
        position: absolute;
        right: 3px;
        top: 3px;
        bottom: 3px;
        font-size: 1.2rem;
        border: none;
        background: var(--clr--green);
        color: var(--clr--background);
        outline: none;
        padding: 0 1.5rem 0.1rem;
        border-radius: 2rem;
      }
    }
  }
}
