@use "../layout/util/" as u;

.cards {
  position: relative;
  display: grid;
  gap: 12rem;

  &__info {
    text-align: left;
    background-color: var(--clr--background);
    height: 600px;
    max-width: 1000px;
    padding: 4rem 0;
    h1 {
      font-weight: var(--fw--light);
      font-size: 4rem;
      letter-spacing: 5px;
      line-height: 3.5rem;
      text-transform: uppercase;
      color: var(--clr--green);
      margin-bottom: 1.5rem;

      span {
        color: var(--clr--white);
      }
    }

    p {
      width: 55%;
      color: var(--clr--grey);
      line-height: 2rem;
    }

    form {
      font-weight: var(--fw--very-bold);
      margin-top: 2rem;
      position: relative;
      max-width: 500px;
      input {
        cursor: text;
        color: var(--clr--grey);
        background: var(--clr--bg-input);
        width: 100%;
        border: none;
        border-radius: 3rem;
        padding: 1rem;
        line-height: 1rem;
        outline: none;
      }
      button {
        cursor: pointer;
        position: absolute;
        right: 4px;
        top: 4px;
        bottom: 4px;
        font-size: 1rem;
        border: none;
        background: var(--clr--green);
        color: var(--clr--background);
        outline: none;
        padding: 0 1.5rem 0.1rem;
        border-radius: 2rem;

        &:hover {
          opacity: 0.7;
        }
      }
    }
    &_sponsors {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-top: 3rem;
      padding: 0;
      list-style-type: none;

      li {
        cursor: pointer;
        img {
          max-width: 100%;
          height: auto;
          width: auto\9; /* ie8 */
        }
      }
    }
  }
  .dots {
    display: flex;
    justify-content: end;
    position: absolute;
    right: 35px;
    bottom: 140px;
    z-index: 0;
  }

  .inputError {
    position: absolute;
    left: 20px;
    color: red;
  }

  @include u.breakpoints(large) {
    &__info {
      width: 80%;
      h1 {
        font-size: 3rem;
      }
    }
    .dots {
      width: 100%;
      position: relative;
      inset: 0;
      display: flex;
      justify-content: flex-start;
    }
  }

  @include u.breakpoints(medium) {
    display: grid;
    min-width: 300px;
    justify-items: center;
    margin: 5rem 0;
    gap: 0;

    &__logo {
      margin-bottom: 3rem;
      img {
        position: relative;
      }
    }
    &__info {
      width: 100%;
      display: grid;
      padding: 0 1rem;
      justify-items: center;
      text-align: center;
      background: none;

      h1 {
        font-size: 2.5rem;
        margin: 0;
        width: 100%;
      }
      p {
        width: 90%;
      }

      form {
        order: 5;
        display: grid;
        width: 100%;

        button {
          border-radius: 3rem;
          padding: 1rem;
          line-height: 1rem;
          position: relative;
          inset: 0;
        }
      }

      .inputError {
        text-align: left;
        position: relative;
        left: 20px;
        color: red;
        line-height: 1rem;
      }
      &_sponsors {
        margin: 0;
      }
    }

    .dots {
      display: none;
    }
  }
}
