@use "../layout/util/" as u;

.container {
  display: grid;
  background: url("/assets/desktop/image-host.jpg") no-repeat right 5% top 38%;
  background: contain;
  min-height: 100vh;
  margin: 3rem 10rem 0;

  @include u.breakpoints(large) {
    background: url("/assets/tablet/image-host.jpg") no-repeat right center;
    background-size: contain;
    margin: 2rem 0 2rem;
    margin-left: 2rem;
  }

  @include u.breakpoints(medium) {
    position: relative;
    background-image: none;
    display: grid;
    justify-items: center;
    margin: 0;
    isolation: isolate;
  }
}
