@use "../layout/util/" as u;

.container {
  display: grid;
  background: url("/assets/desktop/image-host.jpg") no-repeat right 5%center;
  background-size: contain;
  min-height: 100vh;
  margin: 3rem 10rem;

  @include u.breakpoints(large) {
    background: url("/assets/tablet/image-host.jpg") no-repeat right center;
    background-size: contain;
    margin: 0;
    margin-left: 2rem;
  }
}
