.container {
  display: grid;
  background: url("/assets/desktop/bg-pattern-dots.svg") no-repeat right 2.6%
      bottom 12%,
    url("/assets/desktop/image-host.jpg") no-repeat right 5%center;
  min-height: 100vh;
  margin: 3rem 10rem;
}
